@import url("../webfonts/BebasNeue_Regular/stylesheet.css");
@import url("../../webfonts/PT_Sans_Web_Regular/stylesheet.css");

.center_text {
	text-align: center;
	font-size: 100px;
	font-family: "BebasNeue Regular";
}

	
.iframe_frontpage {
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50;
	margin-bottom: auto;
}
.left_text {
	text-align: center;


}
.middle_test {
	text-align: center;
}
.midde {
	text-align: center;
	font-size: 24px;
	font-family: "PT Sans Web Regular";
}

@font-face {
	font-family: BebasNeue Bold;  
	src: url(assets/fonts/BebasNeue_Bold.ttf);  
	font-weight: normal;
}
.link {
	font-size: medium;
	text-align: center;
}
body {
	background-color: #C3C;
}